# Temp files
*.swp*

# Node files
node_modules

# Real config files
# (if you need to make a config file, leave the fields blank, name it config.sample.* and commit that - don't commit actual configs)
config.js
